/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* OUR CSS */

.navbar {
  height: 1.1em;
  width: 2.2em;
  margin-bottom: 0.1%;
  background-color: #3B383D;
  font-family: 'Playfair Display', cursive;
  font-weight: bolder;
  font-size: 1.8em;
  color: #F7EDF0;
  padding: 2%;
  display: inline-block;
}
.navbar-button {
  width: 10%;
  height: 3.5em;
  margin-top: 1.8%;
  margin-right: 3%;
  float: right;  
  font-family: 'Noto Serif', serif;
  font-size: 0.7em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
}
.color {
  display: inline;
  font-family: 'Playfair Display', cursive;
  font-weight: bolder;
  font-size: 1.8em;
  color: #DF755A;
}

.buttons {
  width: 80%;
  display: inline;
}

.navbar-loggedout-button {
  height: 7%;
  font-family: 'Noto Serif', serif;
  margin-left: calc(100% - 15em);
  overflow: none;
  display: inline-block;
  margin-top: 0;
  vertical-align: center;
}

.dashboard-hero {
  margin-top: 2%;
  width: auto;
  height: 30em;
  background-image: url("../lib/cartier.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.dashboard-hero:hover {
  opacity: 0.6;
}

.dashboard-border {
  margin-bottom: 2%;
  background-color: #DF755A;
  height: 3em;
  width: auto;
}

.dashboard-button,
.upload-button,
.search-button {
  width: 8em;
  height: 2.8em;
  margin-left: 10%;
  margin-right: 3%;
  margin-bottom: 1%;
  font-family: 'Noto Serif', serif;
  font-size: 1.2em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
}

.landing-hero {
  margin-top: 2%;
  width: auto;
  height: 42em;
  background-image: url("../lib/mallatnight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  color: #F7EDF0;
}

.landing-hero:hover {
  opacity: 0.6;
}

.hero-text {
  height: 80%;
  margin-left: 2%;
}

.landing-border {
  background-color: #A89B9D;
  height: 5em;
  width: auto;
}
.landing {
  margin-bottom: 2%;
  background-color: #A89B9D;
  height: 28em;
  width: auto;
}

.landing-box {
  width: 25.8%;
  display: inline-block;
  border: 0.4em solid #F7EDF0;
  margin-left: 3.2%;
  margin-right: 3.2%;
  height: 60%;
  font-weight: bolder;
}

.marketing-title {
  color: #F7EDF0;
  width: 90%;
  height: 90%;
  display: inline-block;
  margin: 7%;
  font-family: 'Noto Serif', serif;
}

.landing-signup {
  height: 10%;
  width: 13.2%;
  font-family: 'Noto Serif', serif;
  margin-left: 42.5%;
  overflow: none;
  display: inline-block;
  margin-top: 7%;
  vertical-align: center;
  font-size: 1.3em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
  text-decoration: none;
  padding-top: 1.5%;
  padding-left: 3%;
}

.profile-pic {
  height: auto;
  width: 10%;

}

.dashboard-tools {
  width: 25%;
  display: inline;
  float: left;
  position: relative;
}

.preview-component,
.search-component {
  margin-left: 10%;
  margin-bottom: 1%;
}

.dashboard-feed {
  width: 65%;
  display: inline;
  float: right;
}

.feed-item {
  width: 13em;
  height: 22em;
  margin: 3%;
  display: inline;
  float: left;
  position: relative;
  border: 1px solid transparent;
}

.feed-item:hover {
  border: 1px solid #A89B9D;
}

.feed-item-pic {
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-width: 9em;
  max-height: 9em;
}

.feed-item-info {
  margin: 3%;
  line-height: 1.2em;
  font-size: 0.9em;
  font-family: 'Josefin Sans', sans-serif;
}

.item-name {
  text-transform: uppercase;
  font-weight: bolder;
}

.item-price,
.item-category,
.item-retailer {
  font-weight: lighter;
}

.item-link {
  font-weight: regular;
  text-decoration: none;
}

.item-heart {
  border: none;
  font-size: 2em;
  background-color: transparent;
  outline: none;
}

.item-heart:focus,
.item-heart:target,
.item-heart:active {
  color: #C9999A;
}

.show-items {
  display: block;
}

.feed-items {
  margin: 3%;
}