/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* OUR CSS */

.navbar {
  height: 1.1em;
  width: 2.2em;
  margin-bottom: 0.1%;
  background-color: #3B383D;
  font-family: 'Playfair Display', cursive;
  font-weight: bolder;
  font-size: 1.8em;
  color: #F7EDF0;
  padding: 2%;
  display: inline-block;
}
.navbar-button {
  width: 10%;
  height: 3.5em;
  margin-top: 1.8%;
  margin-right: 3%;
  float: right;  
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 0.9em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
  line-height: 3.5em;
}

.navbar-button:hover {
  opacity: 0.6;
}

.navbar-button:focus, .navbar-button:active {
  opacity: 0.2;
}
.color {
  display: inline;
  font-family: 'Playfair Display', cursive;
  font-weight: bolder;
  font-size: 1.8em;
  color: #DF755A;
}

.buttons {
  width: 80%;
  display: inline;
}

.navbar-loggedout-button {
  height: 7%;
  font-family: 'Noto Serif', serif;
  margin-left: calc(100% - 15em);
  overflow: none;
  display: inline-block;
  margin-top: 0;
  vertical-align: center;
}

.navbar-loggedout-button:hover {
  opacity: 0.6;
}

.navbar-loggedout-button:focus .navbar-button:active {
  opacity: 0.2;
}
.dashboard-hero {
  margin-top: 2%;
  width: auto;
  height: 30em;
  background-image: url("../lib/cartier.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.dashboard-hero:hover {
  opacity: 0.6;
}

.dashboard-border {
  margin-bottom: 2%;
  background-color: #DF755A;
  height: 3em;
  width: auto;
}

.dashboard-button,
.upload-button,
.search-button {
  width: 8em;
  height: 2.8em;
  margin-left: 10%;
  margin-right: 3%;
  margin-bottom: 3%;
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 1.2em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
}

.dashboard-button:hover,
.upload-button:hover,
.search-button:hover {
  opacity: 0.6;
}

.dashboard-button:active,
.upload-button:active,
.search-button:active,
.dashboard-button:focus,
.upload-button:focus,
.search-button:focus {
  opacity: 0.2;
}

.landing-hero {
  margin-top: 2%;
  width: auto;
  height: 42em;
  background-image: url("../lib/mallatnight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  color: #F7EDF0;
}

.landing-hero:hover {
  opacity: 0.6;
}

.hero-text {
  height: 80%;
  margin-left: 2%;
}

.landing-border {
  background-color: #A89B9D;
  height: 9em;
  width: auto;
  line-height: 9em;
}

.landing-border-text {
  font-size: 3em; 
  font-family: 'Playfair Display', cursive;
  color: #F7EDF0;
  margin-left: 3.2%;
}

.landing {
  margin-bottom: 2%;
  background-color: #A89B9D;
  height: 40em;
  width: auto;
}

.landing-box {
  width: 25.2%;
  display: inline-block;
  border: 0.4em solid #F7EDF0;
  margin-left: 3.2%;
  margin-right: 3.2%;
  height: 50%;
  font-weight: bolder;
  margin-bottom: 5%;
}

.marketing-title {
  color: #F7EDF0;
  width: 90%;
  height: 90%;
  display: inline-block;
  margin: 7%;
  font-family: 'Noto Serif', serif;
}

.landing-signup {
  height: 8%;
  width: 20%;
  font-family: 'Noto Serif', serif;
  margin-left: 39.2%;
  overflow: none;
  display: inline-block;
  margin-top: 6%;
  vertical-align: center;
  font-size: 1.3em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
  text-decoration: none;
  padding-top: 4%;
  line-height: 8%;
  text-align: center;
}

.landing-signup:hover {
  opacity: 0.6;
}

.landing-signup:focus,
.landing-signup:active {
  opacity: 0.2;
}

.profile-welcome {
  margin-top: 2%;
  height: 4em;
  background-color: #DF755A;
}

.profile-welcome-text {
  
  padding-left: 2%;
  height:70%;
  width: 80%;
  color: #F7EDF0;
  font-size: 2em;
  font-family: 'Noto Serif', serif;
  line-height: 2em;
}

.profile-container {
  width: 90%;
  height: auto;
  display: block;
}

.profile-pic {
  margin-top: 2%;
  margin-left: 2%;
  height: 32%;
  width: 32%;
  background-color: #DF755A;
  display: inline;
  float: left;
  margin-right: 5%;
}

.profile-info {
  display: inline;
  width: 50%;
  font-size: 0.7em;
  line-height: 2.4em;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;
  height: 32%;

}
.profile-input {
  padding: 0.5%;
  border: solid 4px #3B383D;
  transition: border 0.3s;
  outline: none;
}

.profile-input {
  margin-left: 0.5em;
  line-height: 2em;
  font-size: 1em;
  font-family: 'Noto Serif', serif;
}

.profile-input:focus {
  border: solid 4px #DF755A;
}

.profile-select {
  position: relative;
  display: inline-block;
  margin-left: 0.8em;
  padding: 0.5%;
  width: 10em;
  color: #F7EDF0;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: #3B383D;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.profile-select:hover {
  color: #3B383D;
  background: #A89B9D;
}

.profile-button {
  width: 8em;
  height: 1.8em;
  margin-left: 2em;
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: 'Noto Serif', serif;
  font-size: 1.2em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;

}
.profile-button:hover {
  opacity: 0.6;
}
.profile-button:focus,
.profile-button:active {
  opacity: 0.2;
}
.dashboard-tools {
  width: 20%;
  display: inline;
  float: left;
  position: relative;
}

.preview-component,
.search-component {
  margin-left: 10%;
  margin-bottom: 1%;
  font-family: 'Josefin Sans', sans-serif;  
}

.dashboard-feed {
  width: 75%;
  display: inline;
  float: right;
}

.feed {
  font-family: 'Josefin Sans', sans-serif;  
}

.recommended-items {
  font-size: 2em;
  font-weight: bolder;
  display: inline-block;
  color: #3B383D;
  width: 100%;
}

.feed-container {
  display: inline-block;
  font-size: 2em;
  height: 1.6em;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;  
  width: 66%;
}


.sort-btn {
  width: 4.5em;
  height: 2em;
  line-height: 2em;
  margin-left: 1%;
  margin-right: 1%;
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 0.2em;
  text-align: center;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
  display: inline-block;
}

.sort-btn:hover {
  opacity: 0.6;
}

.sort-btn:active,
.sort-btn:focus {
  opacity: 0.2;
}

.feed-item,
.wishlist-item,
.friends-item {
  width: 26%;
  height: 22em;
  margin-right: 4%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: inline;
  float: left;
  position: relative;
  border: 1px solid transparent;
}

.feed-pic-container {
  height: 9em;
  width: 9em;
}

.feed-item:hover,
.wishlist-item:hover,
.friends-item:hover {
  border: 1px solid #A89B9D;
}

.feed-item-pic,
.wishlist-item-pic,
.item-pic {
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-width: 9em;
  max-height: 9em;
}

.feed-item-info,
.wishlist-item-info,
.item-info {
  margin: 3%;
  line-height: 1.2em;
  font-size: 0.9em;
  font-family: 'Josefin Sans', sans-serif;
}

.social-icon {
  display: inline-block;
  float: right;
  margin-left: 5%;
}

.share-button-container {
  display: inline-block;
  margin-top: 6%;
  float: right;
  line-height: 2em;
  width: 4em;
}

.item-name,
.wishlist-item-name {
  text-transform: uppercase;
  font-weight: bolder;
}

.item-price,
.item-category,
.item-retailer,
.wishlist-item-price {
  font-weight: lighter;
}

.item-link,
.wishlist-link {
  font-weight: regular;
  text-decoration: none;
}

.item-heart,
.wishlist-remove {
  border: none;
  font-size: 2em;
  background-color: transparent;
  outline: none;
  margin-left: 0em;
}


.wishlist-remove {
  font-size: 1.5em;
  font-weight: bolder;
}

.item-heart:hover,
.item-heart:focus,
.item-heart:target,
.item-heart:active {
  color: #C9999A;
}

.wishlist-remove:hover,
.wishlist-remove:focus,
.wishlist-remove:target,
.wishlist-remove:active {
  color: #DF755A;
}

.button-container {
  margin-left: 70%;
  width: 30%;
}

.show-previous {
  display: block;
  width: 30%;
  height: 20%;
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 0.9em;
  text-align: center;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
  margin-bottom: 2%;
}

.show-previous:hover {
  opacity: 0.6;
}

.show-previous:active,
.show-previous:focus {
  opacity: 0.2;
}

.show-more {
  display: block;
  width: 30%;
  height: 20%;
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 0.9em;
  text-align: center;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
}

.show-more:hover {
  opacity: 0.6;
}

.show-more:active,
.show-more:focus {
  opacity: 0.2;
}


.feed-items {
  margin-right: 4%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.wishlist-container {
  margin-top: 2%;
  border-top: 1pt solid #A89B9D;
}

.friends-header {
  margin: 2% 2%;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;  
  border-bottom: 2pt solid #A89B9D;
}

.friends-wishlist {
  margin: 4% 4%;
}

.wishlist {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.wishlist-header {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;  
  margin-left: 2%;
  margin-top: 2%;
  display: block;
  width: 100%;
  margin-bottom: 10%;
}

.upload-instructions,
.search-label {
  margin: 4% 0;
  font-weight: bolder;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-label,
.tag-input {
  margin: 4% 0;
}

.file-button,
.submit-button {
  background-color: #A89B9D;
  height: 2.2em;
  width: 6.5em;
  font-size: 0.9em;
  font-family: 'Josefin Sans', sans-serif;  
  margin: 5% 5%;
  outline: none;
  border-radius: 6%;
  border: none;
  line-height: 2.2em;
}

.file-button:hover, 
.submit-button:hover {
  opacity: 0.7;
}

.file-button:focus, 
.submit-button:focus,
.file-button: active,
.submit-button: active {
  opacity: 0.2;
}

.tag-input {
  margin-left: 1%;
  padding: 2%;
  border: solid 5px #3B383D;
  transition: border 0.3s;
  outline: none;
}

.vr-nav {
  margin-left: 75%;
}

.vr-btn {
  margin: 1%;
}

.tag-input:focus {
  border: solid 5px #DF755A;
}

#room-id {
  padding: 1em;
  border: solid 5px #3B383D;
  transition: border 0.3s;
  outline: none;
}

#room-id:focus {
  border: solid 5px #DF755A;
}


.select-gender {
  position: relative;
  display: inline-block;
  padding: 4%;
  width: 10em;
  color: #F7EDF0;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: #3B383D;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-gender:hover {
  color: #3B383D;
  background: #A89B9D;
}

.preview-img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

.wishlist-button {
  width: 15em;
  height: 1.5em;
  margin-right: 16%;
  float: right;
  font-family: 'Noto Serif', serif;
  font-size: 0.5em;
  background-color: #3B383D;
  color: #F7EDF0;
  outline: none;
  border-radius: 6%;
  border: none;
}

.wishlist-button:hover {
  opacity: 0.6;
}

.wishlist-button:focus, 
.wishlist-button: active {
  opacity: 0.2;
}

.share-instructions {
  display: none;
}

.share-link-bar {
  border: 1pt solid black;
  display: block;
  height: auto;
  font-size: 0.5em;
  font-family: 'Josefin Sans', sans-serif;
  color: #3B383D;
  padding: 4%;
  text-align: left;

}

.share-link.text {
  color: black;
}

.share-link {
  border: 1pt solid black;
  width: 98%;
  margin-top: 1%;
  background-color: #F7EDF0;
  color: #3B383D;
}

.wishlist-share {
  margin-left: 34%;
  width: 50%;
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
  color: #3B383D;
}

.share-container {
  margin-top: 2%;
  margin-right: 1%;
  margin-bottom: 3%;
}

.shared-wishlist-header {
  font-family: 'Noto Serif', serif;
  font-size: 2em;
  font-weight: bolder;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.fourofour {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-family: 'Noto Serif', serif;
  font-size: 2em;
}